

/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
    font-size: 1em;
}

nav ul li {
    font-size: 15px;
    list-style-type: none;
    font-weight: bolder;
    text-transform: uppercase;

}

ul {
    padding: 0;
}

img {
    max-width: 90%;
    height: auto;
    padding: 10px 0px 0px 0px;
}


.container {
    text-align: center;
}

a:hover {
    color: rgb(223, 179, 85);
}

a {
    text-decoration: none;
    color: black;
}

/* ================================= 
  Nav Bar
==================================== */

.container {
    text-align: center;
}

.top-nav {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    margin: 5px 20px;
}

.title {
    padding: 15px 0;
}


/* ================================= 
  Header
==================================== */
.main-header {
    padding: 30px 20px;
    width: 100%;
}

.header-img {
    padding-bottom: 20px;
    width: 70%;
}


/* ================================= 
  Body
==================================== */

.portfolio-info {
    background-color: rgb(255, 255, 255);
    padding: 40px 10px;
}

.portfolio-title {
    padding-bottom: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
}

.portfolio-info p {
    margin: 0px 30px;
}

.rows,
.rows-right {
    padding-bottom: 20px;
}


/* ================================= 
  Contact Section
==================================== */

.contact-title {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
}

.main-contact {
    margin: 50px 20px 0px 20px;
    border-bottom: 2px solid #cfcece;
}

.main-contact h2 {
    padding-bottom: 30px;
}

.contact-links {
    padding-top: 10px;
}

.contact-text {
    padding-bottom: 15px;
}

.email {
    padding-bottom: 50px;
}

.bold {
    font-weight: bolder;
    padding-left: 15px;
}

/* ================================= 
  Footer
==================================== */

.footer {
    padding: 0 20px;
}

.footer h3 {
    float: left;
    width: 50%;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 15px;
}
.display-off-nav {
    display: none;
}

.footer-title {
    text-align: left;
}

.footer-back-to-top {
    text-align: right;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}







/* ================================= 
   =================================
   =================================
  Media Queries 769px
=================================
=================================
==================================== */
@media (min-width: 768px) {


/* ================================= 
  Header
==================================== */

    .top-nav {
        display: inline-block;
        text-align: center;
        background-color: rgb(245, 245, 245);
    }

    header {
        width: 90%;
        margin: 0 auto;
    }

    header p {
        float: left;
        width: 60%;
        margin: 0;
        text-align: left;
        padding: 0 15px 0 0
    } 

    .header-img {
        width: 40%;
        padding: 0 0 15px 0;        
    }



/* ================================= 
  Body
==================================== */

    .portfolio-info img{
        padding-bottom: 0;
    }

    .rows {
        width: 50%;
        float: left;
    }

    .rows-right {
        width: 50%;
        float: right;
    }

    .row-height {
        height: 25em;
    }

    


/* ================================= 
  Contact
==================================== */

    .main-contact {
        padding-top: 10px;
        padding-bottom: 40px;
        border-bottom: 2px solid #cfcece;
    }

    .main-contact p {
        padding: 0 90px
    }

    .contact-text {
        max-width: 80%;
        margin: auto;
    }
    


/* ================================= 
  Footer
==================================== */
    .bottom-nav ul,
    .bottom-nav li {
        display: inline-block;
    }

    .display-off {
        display: none;
    }

    .display-off-nav {
        list-style-type: none;
        text-align: right;
    }

    .bottom-nav li {
        text-align: right;
        padding: 0 15px;
    }

    .bottom-nav2 {
        float: right;
    }

    .display-off-nav li:last-child {
        padding-right: 0;
    }
    

}





/* =================================
=================================
================================= 
  Media Queries 1024px
  =================================
  =================================
==================================== */
@media (min-width: 1024px) {


/* ================================= 
  Header
==================================== */
    .main-nav ul,
    .main-nav li,
    .title {
        display: inline-block;
    }

    .title {
        float: left;
        padding-left: 25px;
    }
      
    .main-nav ul {
        float: right;
        padding-top: 13px;
    }

    .main-nav {
        padding: 0 26px;
    }

    .main-header {
        padding: 0 55px;
    }

/* ================================= 
  Body
==================================== */

    .portfolio-info {
        width: 95%;
        margin: auto;
    }

    .row-height {
        height: 25em;
    }

    .rows,
    .rows-right {
        width: 33%;
    }


}


